.DS_Store
.idea
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/gate_level_netlist.v
**/env/
**/dist/
*.egg-info
*pycache*
__pycache__
*sim_build*
*runs*
output_image.txt
*.vvp
*.vcd
*.xml
output_image.jpg
output_image.jpg
input_pixels.txt
.vscode
src/user_config.tcl
src/apr/
src/pdk_verilog/